@font-face {
    font-family: sandwichFont;
    src: url(fonts/Franchise.ttf);
}

@font-face {
    font-family: svalkandeFont;
    src: url(fonts/Retrolight.ttf);
}

@font-face {
    font-family: menuFont;
    src: url(fonts/lostgun-regular.otf);
}

@media (max-width: 767px) {
    #menu-wrapper {
        flex-direction: column;
    }

    .menu-container {
        padding-bottom: 4px;
    }
}

body {
    border: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
}

p {
    margin: 4px;
    font-family: menuFont;
    font-weight: 900;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #3B5998;
    color: white;
}

.label {
    text-align: center;
}

.rightaligned {
    float: right;
}

.leftaligned {
    float: left;
}

.big-number {
    text-align: center;
    font-size: 20px;
}

#header {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#food-container,
#drink-container {
    border-style: solid;
    border-width: 4px;
    box-sizing: border-box;
    min-height: 628px;
    min-width: 300px;
    max-width: 252px;
    min-height: 893px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#sandwich-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4px;
}

.sandwich-name {
    font-family: sandwichFont;
    color: black;
    font-size: 30px;
    font-weight: 400;
}

.item-wrapper {
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
}

.item-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.item-container>p {
    display: flex;
    justify-content: space-between;
}

#footer {
    text-align: center;
}

.svalkande {
    text-align: center;
}

.svalkande-label {
    font-family: svalkandeFont;
    font-size: 35px;
    font-weight: 550;
}

.drink-label {
    text-align: center;
}

.label {
    font-size: 30px;
}

#footer-wrapper {
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: none;
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}