body {
    background-color: white;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
}

p {
    margin: 4px;
}

.label {
    text-align: center;
}

.rightaligned {
    float: right;
}

.leftaligned {
    float: left;
}

#header {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#food-container,
#drink-container {
    border-style: solid;
    border-width: 4px;
    padding: 10px 20px;
    box-sizing: border-box;
    min-height: 628px;
    min-width: 300px;
    max-width: 252px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#sandwich-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item-wrapper {
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
}

.item-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.item-container>p {
    display: flex;
    justify-content: space-between;
}

#footer {
    text-align: center;
}

.svalkande {
    text-align: center;
}

.drink-label {
    text-align: center;
}